body{
    background-color: aqua;    
}
p{
    width: 300px;
    margin:auto;
    border: 1px solid;
}
img{
    margin: 40px  200px  100px  20px;
}
div{
    border: 10px solid;
    background-color: antiquewhite;
    padding-left: 140px;
    padding-right: 60px;
    padding-top: 80px;
    padding-bottom: 65px;
}